# Configuração local do Airflow no Windows
AIRFLOW_UID=50000

# Credenciais AWS
AWS_ACCESS_KEY_ID=SUBSTITUA_PELA_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=SUBSTITUA_PELA_SECRET_KEY

# Preencha quando a conta utilizar credenciais temporárias
AWS_SESSION_TOKEN=SUBSTITUA_PELO_SESSION_TOKEN

AWS_DEFAULT_REGION=us-east-1

# Destino no S3
S3_BUCKET_NAME=nome-do-bucket-fornecido-pela-instituicao
S3_PREFIX=raw/airflow

# Arquivo do Google Drive
GOOGLE_DRIVE_FILE_ID=1EsGox0UnBWSaM6mrkNSUlYUOecubLCsh

# Ajuste a extensão depois de identificar o tipo real do arquivo
SOURCE_FILENAME=acidentes2026_todas_causas_tipos.zip
# Pode ficar vazio quando existir somente um CSV no ZIP
CSV_FILENAME=acidentes2026_todas_causas_tipos.csv
MAX_CSV_SIZE_MB=200

# -----------------------------------------------------------------
# Mapbox
# -----------------------------------------------------------------

# Não coloque o token diretamente na DAG
MAPBOX_ACCESS_TOKEN=COLE_AQUI_SEU_TOKEN

# Estilo do mapa
MAPBOX_STYLE=mapbox/streets-v12

# Configurações da imagem
MAPBOX_ZOOM=17
MAPBOX_IMAGE_WIDTH=400
MAPBOX_IMAGE_HEIGHT=300

# Quantidade máxima de requisições por minuto
MAPBOX_REQUESTS_PER_MINUTE=300

# Quantidade máxima de imagens processadas em cada execução
MAPBOX_MAX_IMAGES_PER_RUN=500

# Tentativas máximas para cada coordenada
MAPBOX_MAX_ATTEMPTS_PER_COORDINATE=3

# Timeout da resposta da API
MAPBOX_REQUEST_TIMEOUT_SECONDS=30

# -----------------------------------------------------------------
# CSV
# -----------------------------------------------------------------

CSV_LATITUDE_COLUMN=latitude
CSV_LONGITUDE_COLUMN=longitude

COORDINATE_DECIMAL_PLACES=6

# Deixe vazio para detecção automática
CSV_DELIMITER=;