# Configuração local do Airflow no Windows
AIRFLOW_UID=50000

# Credenciais AWS
AWS_ACCESS_KEY_ID=SUBSTITUA_PELA_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=SUBSTITUA_PELA_SECRET_KEY

# Preencha quando a conta utilizar credenciais temporárias
AWS_SESSION_TOKEN=SUBSTITUA_PELO_SESSION_TOKEN

AWS_DEFAULT_REGION=us-east-1

# Destino no S3
S3_BUCKET_NAME=nome-do-bucket-fornecido-pela-instituicao
S3_PREFIX=raw/airflow

# Arquivo do Google Drive
GOOGLE_DRIVE_FILE_ID=1EsGox0UnBWSaM6mrkNSUlYUOecubLCsh

# Ajuste a extensão depois de identificar o tipo real do arquivo
SOURCE_FILENAME=arquivo_drive.bin