# Credenciais e configurações locais
.env
.env.aws-lab
keys/*
!keys/.gitkeep

# Arquivos baixados
data/*
!data/.gitkeep

# Logs do Airflow
logs/*
!logs/.gitkeep

# Cache Python
__pycache__/
*.py[cod]
.pytest_cache/

# Artefatos locais de machine learning
*.joblib
*.pkl

# IDE
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/*.tfvars
terraform/*.tfvars.json
